<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col footer-col">
        <h4>About Us</h4>
        <ul class="about-us">
          <li>About Us</li>
          <li>FAQ's</li>
          <li>Terms & Conditions</li>
          <li>Return Policy & Procedures</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
      <div class="col footer-col">
        <h4>Contact Us</h4>
        <ul class="contact-us">
          <li>
            <img
              class="contact-us-icon"
              src="../../../assets/images/phone.png"
              alt=""
            />
            <span>+965 - XXXX XXXX</span>
          </li>
          <li>
            <img
              class="contact-us-icon"
              src="../../../assets/images/envelope.png"
              alt=""
            />
            <span>support@oshmoments.com</span>
          </li>
          <li>
            <img
              class="contact-us-icon"
              src="../../../assets/images/whatsapp-4.png"
              alt=""
            />
            <span>WhatsApp Us</span>
          </li>
        </ul>
      </div>
      <div class="col footer-col">
        <h4>Newsletter</h4>
        <ul class="newsletter">
          <li>
            <button
              style="
                border: 1px solid #ffffff;
                background-color: inherit;
                color: #ffffff;
                width: 180px;
                padding: 5px;
              "
            >
              Sign Up Now
            </button>
          </li>
          <li>
            <input
              type="email"
              placeholder="Your Email"
              style="border: 1px solid #707070; width: 180px; padding: 5px"
            />
          </li>
        </ul>
      </div>
      <div class="col footer-col">
        <h4>Follow Us</h4>
        <ul class="follow-us">
          <li class="square" style="margin-right: 50px">
            <span><i class="fa-brands fa-facebook-f"></i></span>
          </li>
          <li class="square">
            <span><i class="fa-brands fa-instagram"></i></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row copyright">
      <div class="col">
        <p>Copyright © 2022 OSH Moments All Right Reserved.</p>
      </div>
      <div class="col">
        <div class="flags">
          <img src="../../../assets//images/visa.png" alt="" />
          <img src="../../../assets//images/knet.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
