.login-form {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 15px #00000029;
  opacity: 1;
  padding: 2rem;
  width: 95%;
  height: 111%;
}

.txt {
  margin: 1.2rem 0rem;
  background: #f8f8f8 0% 0% no-repeat padding-box;
}

.form-check {
  margin: 2rem 0rem;
}

.login-btn {
  background: #ac0c00 0% 0% no-repeat padding-box;
  border-radius: 10px;
  width: 100%;
}

.login-btn:hover {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ac0c00;
  color: #ac0c00;
  border-radius: 10px;
  width: 100%;
}

.social-media-signup {
  display: flex;
  justify-content: space-between;
}

.fb-btn {
  width: 48%;
  background: #404f8f 0% 0% no-repeat padding-box;
  letter-spacing: 0.27px;
  color: #ebebeb;
}

.google-btn {
  width: 48%;
  color: #2b2c2d;
  border: 1px solid #2b2c2d;
}

.or {
  text-align: center;
  margin: 1rem 0rem;
}

.astrix {
  color: red;
}
