<div class="signup-form">
  <form>
    <h4 style="font-weight: 700">create an account</h4>
    <div class="form-group form-floating">
      <input
        type="text"
        class="form-control txt"
        id="formGroupExampleInput"
        placeholder="full name"
        required
      />
      <label for="floatingInput">full name <span class="astrix">*</span></label>
    </div>

    <div class="form-group form-floating">
      <input
        type="email"
        class="form-control txt"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="email-address"
        required
      />
      <label for="floatingInput">email <span class="astrix">*</span></label>
    </div>
    <div class="form-group form-floating">
      <input
        type="password"
        class="form-control txt"
        id="exampleInputPassword1"
        placeholder="password"
        required
      />
      <label for="floatingInput">password <span class="astrix">*</span></label>
    </div>
    <div class="form-group form-floating">
      <input
        type="password"
        class="form-control txt"
        id="exampleInputPassword1"
        placeholder="confirm password"
        required
      />
      <label for="floatingInput"
        >confirm password <span class="astrix">*</span></label
      >
    </div>
    <div class="form-group form-floating">
      <input
        type="text"
        class="form-control txt"
        id="formGroupExampleInput"
        placeholder="interests"
      />
      <label for="floatingInput">interests </label>
    </div>
    <div class="form-group form-floating">
      <input
        type="text"
        class="form-control txt"
        id="formGroupExampleInput"
        placeholder="preferred size"
      />
      <label for="floatingInput">preferred size </label>
    </div>
    <div class="form-check">
      <div>
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">
          <b>newsletter</b>
        </label>
      </div>
    </div>

    <div class="form-check">
      <div>
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">
          <b>by registering you agree with our t&c and privacy policy</b>
        </label>
      </div>
    </div>

    <button type="button" class="btn btn-primary btn-lg create-account-btn">
      <span style="font-weight: 600">create account</span>
    </button>
  </form>
</div>
